.about{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.about-image{
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-image img{
  border-radius: 10px;
}
.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .about-content p {
    margin-bottom: 15px;
    line-height: 1.5; /* Adjusting line height for better readability */
  }
  
  .contact li {
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 15px;
  }
  
  .contact li a {
    text-decoration: none;
    color: #bdbdf3ad;
  }
  .contact li:hover a {
    background-color: #c1c1c1;
    color: #333;
    padding: 4px;
    border-radius: 10px;
  }
  .contact li a i {
    margin-right: 5px;
    font-size: 1.2em;  /* Adjusting icon size as needed */
  }
  
  @media only screen and (max-width: 768px) {
    .about-content {
      flex-direction: column;
      align-items: flex-start;  /* Text aligns to left on smaller screens */
      text-align: left;
    }
  }